body {
    text-align: center;
    width: 100%;
}

.box {
    display: block;
    border: 1px solid rgba(191, 214, 241, 1);
    border-radius: 10px;
    color: rgb(165, 201, 241);
    width: 50%;
    margin: 10px auto;
}

form {
    width: 100%;
}

.city {
    margin: 20px 10px;
    width: 60%;
    height: 50px;
    border: 1px solid rgba(191, 214, 241, 1);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

.convert {
    width: 100%;
    height: 53px;
    margin-bottom: 10px;
    border: 1px solid rgba(191, 214, 241, 1);
    background: transparent;
    border-radius: 30px;
    color: rgb(191, 214, 241);
    transition: all 200ms ease-in-out;
    font-family: "Roboto", sans-serif;
}

.convert:hover {
    background: rgba(191, 214, 241, 1);
    color: white;
}

.button {
    width: 18%;
    height: 53px;
    margin: 10px 0px;
    border: 1px solid rgba(191, 214, 241, 1);
    background: transparent;
    border-radius: 30px;
    color: rgb(191, 214, 241);
    transition: all 200ms ease-in-out;
    font-family: "Roboto", sans-serif;
}

.button:hover {
    background: rgba(191, 214, 241, 1);
    color: white;
}

.city-current {
    padding: 15px 0px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.city-day {
    border: 1px solid rgba(191, 214, 241, 1);
    border-radius: 30px;
    text-align: left;
}

.current-temperature {
    border: 1px solid rgba(191, 214, 241, 1);
    border-radius: 30px;
    font-size: 30px;
}

.current-weather {
    font-size: 80px;
}

.fa-sun {
    color: rgb(245, 215, 81);
}

.writing {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.forecast-weather {
    font-size: 41px;
}

.forecast {
    padding: 10px;
    text-align: center;
}

.temperature {
    border: 2px solid rgba(191, 214, 241, 1);
    border-radius: 30px;
    background: rgba(191, 214, 241, 1);
    color: white;
}